absl-py==2.3.1
asgiref==3.10.0
dj-database-url==2.1.0
Django==4.2.25
django-cors-headers==4.9.0
django-filter==24.3
djangorestframework==3.16.1
geopy==2.4.1
gunicorn==23.0.0
immutabledict==4.2.2
numpy==2.3.5
openpyxl==3.1.2
ortools==9.14.6206
pandas==2.3.3
protobuf==6.31.1
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
reportlab==4.0.9
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2

